
.body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Skranji', cursive;
    }
    
    {
    
        width: "365px",
        height: "525px",
        padding: "15px 14px 27px 13px",
        alignItems: "center",
        gap: "30px",
        borderRadius: "2px",
        background: "#FFF",
        class="Home Decor, Furniture, Vintage Clothing"
    
         
        polaroid-card3" 
  }
  
  
 .i-started-revival-vintage{
    width: "594px",
    color: "#000",
    fontFamily: "Quicksand",
    fontSize: "28px",
    fontStyle: "normal",
    fontWeight: 500,
    lineHeight: "40px /* 142.857% */",
}